* {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

/* Main Wrapper */

.main-wrapper {
  align-items: center;
  background-image: url(../public/images/bg-12-full.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
}

/* Landing */

.landing-page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header-title {
  font-size: 65px;
  color: #fff;
}

.header-explanation {
  font-size: 28px;
  color: #fff;
  width: 50%;
  margin: 0 auto;
}

.submit {
  background-color: #8295D0;
  color: white;
  height: 60px;
  width: 250px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 70px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.submit:hover {
  background-color: #fff;
  color: #8295D0;
}

/* Test */

.page-overlay {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 15px 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* TestQuestion */

.test-question-card {
  background-color: #fff;
  width: 65%;
  margin: 0 auto;
  color: #82318A;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.test-question-title {
  padding: 10px;
}

.test-question-text {
  padding: 30px 10px;
}

/* TestQuestionForm  */


.test-question-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 65%;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.question-form {
  width: 100%;
}

.selection {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

.test-response {
  width: 20%;
  color: #82318A;
  background-color: rgba(220, 220, 220, .8);
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.question-form input[type=radio] {
  display: none;
}

.question-form input[type=radio]:checked + .test-response{
  background-color: #82318A;
  color: white;
}

.button {
  height: 50px;
  background-color: #8295D0;
  color: #fff;
  width: 170px;
  font-size: 18px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 20px;
}
.button:hover {
  background-color: white;
  color: #8295D0;
}

.result-button {
  height: 50px;
  background-color: #34a853;
  color: #fff;
  width: 170px;
  font-size: 18px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 20px;
}
.result-button:hover {
  background-color: white;
  color: #34a853;
}


/* Result */

.grey-background {
  background-color: rgba(220, 220, 220, .8);
}

/* ResultsND */

.results-div-non-depressed {
  font-size: 50px;
  color: #82318A;
}

/* ResultsD */

.results-div-depressed {
  font-size: 30px;
  color: #82318A;
}
.dr-list-enclosing {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.drs-names {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.doctor-response {
  border: 2px solid #82318A;
  padding: 10px;
  background-color: white;
}


.pick-a-doctor input[type=radio] {
  display: none;
}

.pick-a-doctor input[type=radio]:checked + .doctor-response {
  background-color: #82318A;
  color: white;
}

.doctors-button {
  margin-top: 30px;
}





